body {
    background-color: black;
}

.coin-app {
    display: flex;
    flex-flow: column;
    color: white;
}

.coin-search {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0px 100px 0px;
}

.coin-list {
    margin: 0% 10%;
}